:root {
    --main-text-color: #757575;
    --main-heder-color: #212121;
    --main-backg-color: #E5E5E5;
}

body {

    font-family: 'Roboto', sans-serif;
    color: #212121;
    letter-spacing: 0.03em;
}


/* hedear */
/* logo */
span {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
}
.logo{
    color: #2196F3;
}
.logo-two {
    color: #212121;
}
/* navigation */

.nav .link {
    color: #212121;
    font-weight: 500;
    font-size: 14px;
    line-height: 1,14;
    letter-spacing: 0.02em;
}

.link:hover,
.link:focus {
    color: #2196F3;
}

/* contacts */
.main-contacts .contacts {
    color: #757575;
}

.contacts:hover,
.contacts:focus {
    color: #2196F3;
}

/* bottons */
.btn {
    font-family: inherit;
    cursor: pointer;
}
.btn:hover,
.btn:focus { 
    background-color:  #2196F3;
    color: #fff;
}
/* HERO */

.hero { 
    color: #ffffff;
    background-color: #2F303A;
    font-weight: 900;
    font-size: 44px;
    line-height: 1,36;
        /* or 136% */
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
/* second-hero */
.second-hero{
    font-weight: 700;
    font-size: 36px;
    line-height: 1,17;
    text-align: center;
}
/* title - about */
.title-about {
    font-weight: 700;
    font-size: 14px;
    line-height: 1,42;
    
}



/* TEAM */
.team-title { 
    font-weight: 500;
    font-size: 16px;
    line-height: 1,19;
   
}


/* параграфи (Р)*/

.content {
    color: #757575;
}
.main-content {
    font-weight: 400;
    font-size: 14px;
    line-height: 1,71;
}
.second-content { 
    font-weight: 400;
    font-size: 16px;
    line-height: 1,87;
}

/* Списки */
.list {
    list-style: none;
}



/* Footer!  */
.adress {
    background-color: #2F303A;
}

.logo-three {
    color: #ffffff;
}

.address-nav .contact {
    color: #ffffff;
}

.map{
    color: #ffffff;
}

.contact:hover,
.contact:focus { 
    color: #2196F3;
}



/* PORTFOLIO  */


/* nav-buttons */
.second-nav { 
    list-style: none;
    
}
/* portfolio-title */

.portfolio-title { 
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    /* identical to box height, or 200% */
    letter-spacing: 0.06em;
}

/* list proposition */
.proposition { 
    list-style: none;
}